	/* CSS Code */
	/* Heading */
	*{
		margin: 0px;
	}
	h1 {
		margin: 0px;
		background: rgb(8, 47, 71);
		color: white;
		font-size: 45px;
	}
	/* Reset Button */
	#but {
		width: 95px;
		height: 40px;
		margin: auto;
		background-color: rgb(3, 14, 26);
		color: white;
		font-size: 20px;
		cursor: pointer;
		border-radius: 10pt;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,Geneva, Tahoma, sans-serif;
		color: rgb(3, 14, 26);
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}
	ul {
		margin: auto;
		width: 400px;
		height: 250px;
	}

	li {
		float: left;
		list-style-type: none;
		margin: 5px;
		width: 100px;
		height: 80px;
		font-size: 70px;
		text-align: center;
		background: rgb(8, 47, 71);
		color: aliceblue;
		border-radius: 20pt;
	}