	/* CSS Code */
	/* Heading */
	*{
		margin: 0px;
	}
	h1 {
		margin: 0px;
		background: rgb(8, 47, 71);
		color: white;
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 100px;
		height: 80px;
		margin: auto;
		font-size: 30px;
		text-align: center;
		background:  rgb(8, 47, 71);
		color: aliceblue;
		border-radius: 20pt;
	}
	/* Reset Button */
	#but {
		width: 95px;
		height: 40px;
		margin: auto;
		background-color: rgb(3, 14, 26);
		color: white;
		font-size: 20px;
		cursor: pointer;
		border-radius: 10pt;
	}

	/* Player turn space */
	#print {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		color: rgb(3, 14, 26);
		font-size: 20px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}
